body{
    background-color: #831111;
  }
  
  .my-reminder{
    width: 50%;
    border-radius: 17px;
    padding: 10px;
    background-color: #153466;
    margin: 60px auto;
    box-shadow: 1px 2px 5px #000;
  }
  .my-reminder img{
    width: 27%;
    display: block;
    margin: auto;
  }
  .closeicon{
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: #dc3545;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    color: #fff;
  }
  
  .react-datepicker-wrapper,
  .react-datepicker__input-container{
    display: block;
  }
  
  .rmindertitle h2{
    font-weight: bold;
    color: #fff;
    font-size: 27px;
    text-align: center;
    text-decoration: underline;
  }
  
  input, button{
    margin: 10px 0;
    width: 100%;
  }
  .form-control:focus,
  .form-control :focus-visible,
  .form-control :visited,
  .form-control :active{
    box-shadow: none;
    outline: none;
  }
  .list-group-item{
    margin: 5px 0;
  }
  
  .clearReminder{
    margin: 10px 0;
    cursor: pointer;
  }